@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* стили для попапов */
.desktop {
    display: block;
}
@media (max-width: 600px) {
    .desktop {
        display: none !important;
    }
}
@media (min-width: 600px) {
    .mobile {
        display: none !important;
    }

}





.popup_description {
    margin: 25px 0 0 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1f1f1f;
}
.popup[data-target="popup"] {
    opacity: 0;
    font-family: "Montserrat", sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;

    visibility: hidden;
    -webkit-transition: opacity 0.15s linear, visibility 0s 0.15s;
    transition: opacity 0.15s linear, visibility 0s 0.15s;

}

.popup[data-target="popup"].fade.show {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.15s linear, visibility 0s 0s;
    transition: opacity 0.15s linear, visibility 0s 0s;
}



#popup-overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    width: 100%;
    row-gap: 16px;
    column-gap: 22px;
    margin: 25px 0;
    line-height: normal;
}
.popup_image2 {
    position: relative;
    right: 150px;
    top: 50px;
}
@media (max-width: 980px) {
    .popup_image2 {
        right: 100px;
    }
}
@media (max-width: 920px) {
    .popup_image2 {
        right: 150px;
    }
}
@media (max-width: 800px) {
    .popup_image2 {
        right: 150px;
        top: 100px;
    }
}

@media (max-width: 680px) {
    .popup_image2 {
        right: 250px;
        top: 200px;
    }
    .custom-checkbox {
        font-size: 14px;
    }
}

.custom-checkbox {
    display: inline-flex; /* Лейбл по ширине будет соответствовать контенту */
    align-items: center;
    cursor: pointer;
    white-space: nowrap; /* Запрещаем переноса текста внутри лейбла */
    margin-right: 8px;
    color: #6060f0;
}

/* Скрываем стандартные чекбоксы */
input[type="checkbox"] {
    display: none;
}

/* Ненажатый кастомный чекбокс */
.checkbox-custom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin-right: 8px;
}

/* Галочка (скрытая по умолчанию) */
.checkbox-custom::before {
    content: "";
    width: 12px;
    height: 8px;
    display: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 2.88885L5 7.33329L11 0.666626" stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

/* Стили для нажатого чекбокса */
input[type="checkbox"]:checked + .checkbox-custom {
    background: #6060f0;
    border: none;
}

input[type="checkbox"]:checked + .checkbox-custom::before {
    display: inline-block;
}

.popup-content {
    position: relative;
    background: #fff;
    border-radius: 34px;
    padding: 20px 56px 56px 56px;
    max-width: 800px;
    margin: 50px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.popup-close {
    position: absolute;
    top: 28px;
    right: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.popup-title {
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    color: #1f1f1f;
    margin-bottom: 0;
    margin-right: 15px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.popup-title .highlight {
    color: #605dec;
}
.popup__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.popup_image {
    flex-shrink: 0;
    max-width: 50%;
    object-fit: contain;
}
.popup-list {
    list-style: disc;
    padding: 0;
    margin-bottom: 20px;
}

.popup-list li {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #1f1f1f;
    list-style-position: inside;
}
.popup-list li::marker {
    color: #605dec;
}

.popup-form {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.popup-form.hidden {
    display: none;
}



.popup-form-group-xs {
    display: flex;
    flex-direction: column;
    max-width: 259px;
}

.popup-input {
    outline: none;
    background: #fff;
    border: 1px solid #605dec;
    border-radius: 16px;
    padding: 16px;
    font-size: 14px;
    line-height: 171%;
    color: #605dec;
    transition: all 0.3s ease;
}
.popup-input::placeholder {
    color: #605dec;
}
.popup-input:focus::placeholder {
    opacity: 0;
    transition: all 0.3s ease;
}
.popup-left.success .popup-form {
    display: none;
}
.form_success {
    display: none;
}
.form_success.visible {
    display: flex;
}

.success-hidden.hidden {
    display: none;
}

.popup-left .form_success {

    align-items: center;
    gap: 25px;
    margin: 56px 56px 56px 0;
}

.popup-list {
    list-style: disc;
    padding: 0;
    margin-bottom: 20px;
}

.popup-list li {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #1f1f1f;
    list-style-position: inside;
}
.popup-list li::marker {
    color: #605dec;
}

.form_success-text {
    max-width: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #605dec;
}
.popup-button {
    font-family: var(--font-family);
    background: #605dec;
    border-radius: 16px;
    padding: 18px 32px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin-top: 8px;
    transition: background 0.3s ease;
}

.popup-button:hover {
    background: #3733f1;
}

.popup-disclaimer {
    font-size: 12px;
    line-height: 133%;
    color: #1f1f1f;
    opacity: 0.6;
    text-align: left;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.popup-disclaimer a {
    text-decoration: underline;
}

.input-error {
    height: 0;
    opacity: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #b00020;
    transition: all 0.3s ease;
}
.input-error.error {
    height: auto;
    opacity: 1;
    transition: all 0.3s ease;
}

.gift-icon {
    margin-left: 10px;
}
.popup-left {
    flex-shrink: 0;
    /* width: 260px; */
}

/* Адаптивность */
@media (max-width: 600px) {
    .popup-title svg {
        width: 16px;
        height: 20px;
        position: relative;
        top: 3px;
    }
    .popup-close {
        top: 20px;
        right: 15px;
    }
    .popup-close svg {
        width: 30px;
        height: 30px;
    }
    .popup-left.success .form_success {
        margin: 0;
        width: 100%;
    }
    .popup .popup-content {
        padding: 30px;
        max-height: 600px;
    }
    #popup-overlay2 .popup-content {
        padding: 30px;
        max-height: 600px;
    }
    #popup-overlay2 .popup_image2 {
        right: -100px;
        top: -30px;
    }
    .popup_image {
        position: relative;
        left: 0px;
        bottom: 30px;
        max-width: 90%;
    }
    .popup__container {
        flex-direction: column;
    }
    .popup-left {
        justify-content: center;
    }
    .popup-form {
        max-width: 100%;
    }
    .popup-list li {
        font-size: 14px;
    }

    .popup-title {
        margin: 0 20px 0 0;
        font-size: 20px;
    }

    .popup-button {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .popup .popup_image2 {
        left: -20px;
        top: -30px;
        max-width: 100%;
    }
}

.modal-content-popup {
    padding: 20px 56px 56px 56px;
}